<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">

<head>
	<title>Form Variant</title>
</head>

<body>
	<div layout:fragment="content">
			<h1>Form Variant</h1>
	<form th:action="@{/variant/save}" method="post" th:object="${variant}">
		<input type="hidden" th:field="*{id}" name="id">
		<table border="1" cellspacing="0" cellpadding="5">
			<tr>
				<td>Category ID</td>
				<td>
					<select th:field="*{categoryId}">
						<option th:each="item:${listCategory}" th:value="${item.id}" th:text="${item.categoryName}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Variant Initial</td>
				<td><input type="text" name="variantInitial" th:field="*{variantInitial}"></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td><input type="text" name="variantName" th:field="*{variantName}"></td>
			</tr>
			<tr>
				<td>Is Active</td>
				<td><input type="checkbox" name="isActive" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="Save">
				</td>
			</tr>
		</table>
	</form>
	</div>
</body>

</html>